


.load-bar {
  position: relative;
  margin-top: 20px;
  width: 50%;
  height: 6px;
  display: block;
    	  margin: auto;
    	  margin-top: 10%;
  background-color: #fdba2c;
}
.bar {
  content: "";
  display: inline;
  position: absolute;
  width: 0;
  height: 100%;
  left: 50%;
  text-align: center;
}
.bar:nth-child(1) {
  background-color: #da4733;
  animation: loading 3s linear infinite;
}
.bar:nth-child(2) {
  background-color: #3b78e7;
  animation: loading 3s linear 1s infinite;
}
.bar:nth-child(3) {
  background-color: #fdba2c;
  animation: loading 3s linear 2s infinite;
}
@keyframes loading {
    from {left: 50%; width: 0;z-index:100;}
    33.3333% {left: 0; width: 100%;z-index: 10;}
    to {left: 0; width: 100%;}
}


#info{
	width: 50%;
	height: 20px;
	display: block;
    margin: auto;
    margin-top: 15%;
    text-align: center;
	vertical-align: middle;
	line-height: 50px; 
	font-family: 'Roboto';font-size: 22px;
}

#info2{
	width: 50%;
	height: 5px;
	display: block;
    margin: auto;
    margin-top: 7%;
    text-align: center;
	vertical-align: middle;
	line-height: 90px; 
	font-family: 'Roboto';font-size: 22px;
}

#header{
  margin: 2%
  font-style: normal;
  font-size: 15px;
  font-family: 'Roboto';
  color: #333;
}

#description{
  
  font-style: normal;
  font-size: 20px;
  font-family: 'Roboto';
  color: #333;
}

#title{
  margin: 2%;
  font-style: bold;
  font-size: 30px;
  font-family: 'Roboto';
  color: #333;
}

/*  SECTIONS  */
.section {
  clear: both;
  padding: 0px;
  font-family: 'Roboto';
  text-align: center;


}

#section_up{
  margin-top: 3%;
  font-style: bold;
  font-size: 30px;
}



/*  COLUMN SETUP  */
.col {
  display: block;
  float:left;
  margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }
/*  GRID OF FOUR  */
.span_4_of_4 {
  width: 100%;
}
.span_3_of_4 {
  width: 74.6%;
}
.span_2_of_4 {
  width: 49.2%;
}
.span_1_of_4 {
  width: 23.8%;
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
  .col {  margin: 1% 0 1% 0%; }
  .span_1_of_4, .span_2_of_4, .span_3_of_4, .span_4_of_4 { width: 100%; }
}