<!DOCTYPE html>
<html lang="en">
    <head>
        
        <link href="/static/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="/static/css/style.css" />
        <link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
        <script src="/static/js/plotly-latest.min.js"></script>
        <script src="/static/js/jquery.min.js"></script>
        <script src="/static/js/script.js"></script>

        
    </head>

    <body>

    {% block body %}
    	<div id="msg_inital">
    		<div id="info">É a sua primeira vez aqui. Aguarde, estamos configurando nossos dados !</div>
	    	<div id="info2">Isso pode levar em média 25 minutos </div>
	    	<div class="load-bar">
				<div class="bar"></div>
				<div class="bar"></div>
				<div class="bar"></div>
			</div>
	   	</div>

	   	<div id="div_home" style="display: none">
	    	<div align="center" id="title">
	  			TESTE PARA VAGA PROGRAMADOR PLENO
			</div>
			<div align="center" id="header">
	  			Lucas Alves de Souza | lucasalves.s@outlook.com |
	  			<a href="https://www.linkedin.com/in/lucas-alves-s/" target="_blank">
	  				<img border="0" align="top" alt="W3Schools" src="/static/img/linkedin.png" width="2%">
	  			</a>
			</div>

			<div align="center" style="margin-top: 1%;">
				
			</div>

			<div align="center" id="description">
	  			ANÁLISE DE BITCOINS NO ANO DE 2016
			</div>


			
			<div id="section_up" class="section group">
				<div id="total_volume_reais" class="col span_1_of_4">
				
				</div>
				<div id="total_negociacoes_ano" class="col span_1_of_4">
				
				</div>
				<div id="media_diaria_volume_reais" class="col span_1_of_4">
				
				</div>
				<div id="media_diaria_negociacoes_ano" class="col span_1_of_4">
				
				</div>
			</div>

			<div class="section group">
				<div id="media" class="col span_1_of_4">
				Total de volume de Reais (BRL) negociados neste ano
				</div>
				<div class="col span_1_of_4">
				Total de negociações realizadas neste ano
				</div>
				<div class="col span_1_of_4">
				Média diária de volume de Reais (BRL) negociados neste ano
				</div>
				<div class="col span_1_of_4">
				Média diária de negociações realizadas neste ano
				</div>
			</div>
			
			<div id="graphDiv">
				
			</div>
		</div>

    {% endblock %}
    </body>
</html>